.footer{
position:fixed;
display:flex;
justify-content: space-between;
bottom:0;
height:50px;
width:84.2%;
padding:20px;

margin-bottom: 50px;
/* border-radius: 0rem 0rem 1rem 1rem; */
}

#light .footer{
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background-color: #09c7fb;
    background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
}

#dark .footer{
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background-color: #523a78;
    background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
}


.footer_left{
    flex:0.3;
    display:flex;
    align-items: center;
    color:black;
    max-width: 300px;
}

.footer_center{
    flex:0.4;
    color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:300px;
}

.footer_right{
    flex:0.3;
    color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer_albumLogo{
    height:60px;
    width:60px;
    margin-right:20px;
    object-fit:contain;
}

.footer_green{
    color:black;
}

.footer_songInfo > h4{
margin-bottom: 5px;
}

.footer_songInfo > p{
font-size: 12px;
}

.footer_right * .MuiSlider-root{
    color: black;
}