.home{
    background-color: #09c7fb;
    background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
height: 100%;
width: 100%;
position: fixed;
}

.homeGlass{
margin-top: 40px;
margin-left: 40px;
height:91vh;
width:94%;
background: rgba(255,255,255,0.25);
box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
overflow-y: overlay;
}

.homeTop{
    display:flex;
    overflow-y: overlay;
}


