.homeSidebar{
    flex:0.15;
    color:black;
    /* height: 100vh;
    border-right: 1px solid ; */
}

.homeSidebar > img{
    width:160px;
    height:160px;
    padding-left: 15px;
}

hr {
    background-color:black; 
    height: 1px; 
    border: 0;
    width:70%;
    margin-left: 20px;
    margin-bottom: 5px;
}

.avatar{
display:flex;
align-items: center;
margin: 20px;
}

.avatar >p{
    padding-left: 10px;
}

.sidebar_title{
    color:black;
    margin: 20px 25px 10px;
    font-size: 13px;
    font-weight: 700;
}

.theme{
    display:flex;
    align-items: center;
    margin-top: 30px;
}

.options{
    display:flex;
    align-items: center;
    margin-left: 5px;
}

.options:hover{
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2)
      );
      border-radius: 10px;
      margin-left: 5px;
}