.sidebar{
    height: 100vh;
    flex:0.2;
    background-color: #040404;
    color:white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar > hr{
    border: 1px solid #282828;
    width:90%;
    margin:10px auto;
}

.sidebar_logo{
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;

    
}

.sidebar_title{
    margin-left:10px;
    padding:5px;
    font-size:12px;
   
}

.sidebar > p{
    margin-top: 10px;
    margin-left:20px;
    font-size: 14px;
}
